/* Appel des polices */
/* open-sans-regular - latin */
@font-face {
    font-display : swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* open-sans-italic - latin */
  @font-face {
    font-display : swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v20-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v20-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* open-sans-600 - latin */
  @font-face {
    font-display : swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/open-sans-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* open-sans-700 - latin */
  @font-face {
    font-display : swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/open-sans-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

:root {
    --text : #00252e;
    --p: #808E9A;
    --btn : #FF52C1;
    --background : #fff;
    --shadowmain : #0000001A;
    --socialmedia : #DFE4F0;
    --shadowbtn1 : #FF52C12A;
}

body{
    font-family: 'open sans', sans-serif;
    font-weight:400;
}

/*typography*/
p {
    font-size: 1.8rem;
    color : --p;
}

h1{
    font-size : 4rem;
    color : --text;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

h2{
    font-size : 2.8rem;
    font-weight: 600;
}
@media screen and (max-width:500px){
    .p{
        font-size : 1.6rem;
    }

} 


/*Layout*/

.container{
    width:100%;
    max-width: 182rem;
    min-width : 10rem;
    margin-left:auto;
    margin-right:auto;
    padding-left : 8rem;
    padding-right : 8rem;
}

@media screen and (max-width:1200px){
    .container{
        padding : 0rem 3rem;
    }

} 


/*Components*/
.btn-try-it {
    display : inline-block;
    text-decoration: none;
    background-color: var(--background);
    font-size: 1.4rem;
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    padding-top: 1.5rem;
    padding-bottom:1.5rem;
    border-radius: 10px;
    box-shadow: 0.2rem 0.2rem 1rem var(--shadowmain);
    font-weight: 700;
    font-size: 1.4rem;
    color: #000;
    margin-bottom : 5rem;
}

.btn-get-started {
    text-decoration : none;
    background-color:var(--btn);
    color:var(--background);
    padding : 1.5rem 7rem;
    border-radius: 25px;
    font-size: 1.4rem;
    transform: 0.3s;
    border : 3px solid transparent
}

.btn-get-started:hover {
    background-color: var(--background);
    color: var(--btn);
    border: 3px solid var(--btn);
    font-weight : 600
}

@media screen and (max-width:1200px){
    .btn-try-it{
        font-size : 1.5rem;
        padding : 1rem 6rem;
    }

}  
@media screen and (max-width:500px){
    .btn-try-it{
        font-size : 10px;
        padding : 0.5rem 2.3rem;
    }
    .btn-get-started{
        padding : 1rem 4rem;
        font-size: 1.2rem;
        text-align:center;
    }
}  
/*Header*/
header {
    background-image: url(DESKTOP/HERO\ BG.svg);
    background-repeat: no-repeat;
    background-position-y: -2rem;
    min-height: 72rem;
    margin-bottom : 7rem;
    background-size: cover;
}

header nav{
    padding-top: 5rem;
}
header nav .container{
    display:flex;
    justify-content: space-between;
}

.logo{
    width:20rem;
    height:3.1rem;
}

.hero {
    display: flex;
    align-items: center;
}

.hero .container {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.hero-text {
    max-width: 35%;
}

.hero-text p {
    margin-bottom : 3rem;
}

@media screen and (max-width:1200px){

    .hero .container{
        flex-direction: column;
        justify-content: center;
    }
    .hero-text{
        max-width : 80rem;
        text-align:center;
    }
    .hero-img{
        padding-bottom: 3rem;
    }

}  
@media screen and (max-width:500px){
    .hero-text h1{
        font-size : 2.4rem;
        font-weight : 600;
    }
    .btn-get-started{
        padding : 1rem 4rem;
        font-size: 1.2rem;
    }
    .logo {
        width:10rem;
        height : 1.6rem;
    }
}  
/* main */

.main-ul {
    DISPLAY: flex;
    flex-direction: column;
    gap : 6rem;
}

.main-list {
    display : flex;
    padding-left : 10rem;
    padding-right : 10rem;
    box-shadow: 0px 0px 16px #0000001A;
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
}

.main-list:nth-child(2) {
    flex-direction: row-reverse;
}

.main-list a {
    width : 44rem;
    height : 44rem;
}

.main-content h2{
    margin-bottom: 2rem;
}

.main-content {
    max-width: 50%;
}

.main-content p {
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-808e9a);
    text-align: left;
    letter-spacing: 0px;
    color: #808E9A;
}

@media screen and (max-width:1200px){
    .main-list{
        flex-direction: column-reverse;
        padding-left : 2rem;
        padding-right : 2rem;
    }
    .main-list:nth-child(2) {
        flex-direction: column-reverse;
    }
    .main-content {
        max-width : 90%;
        justify-content : center;
        text-align : center;
    }
    .main-content p {
        padding-bottom : 3rem;
        text-align:center;

    }
}  


/*Aside*/

.aside-cta{
    position : relative;
    top : 15rem;
    max-width : 40%;
    box-shadow: 0px 0px 16px #0000001A;
    border-radius: 15px;
    padding-top : 5rem;
    padding-bottom : 6rem;
    margin-left: auto;
    margin-right : auto;
    text-align: center;
    background: white;
}

.cta-text {
    font-size : 3.2rem;
    font-weight : 600;
    color : var(--text);
    margin-bottom : 5rem;
    text-transform: capitalize;
}

.aside-cta .btn-get-started{
    font-size : 2rem;
    padding-left :10rem;
    padding-right : 10rem;
}
@media screen and (max-width:1200px){
    .aside-cta{
        max-width : 70%;
        min-width : 50rem;
        top : 5rem;
        padding-top : 4rem;
        padding-bottom: 4rem;
    }
}

@media screen and (max-width:500px){
    .aside-cta{
        max-width : 90%;
        min-width : 90%;
        width : 90%;
        top : 5rem;
        padding-top : 4rem;
        padding-bottom: 4rem;
    }
    .cta-text{
        font-size : 1.8rem;
        margin-bottom : 3.7rem;
    }
    .aside-cta .btn-get-started{
        width : 20rem;
        height: 4rem;
        padding-left : 5rem;
        padding-right: 5rem;
        font-size : 1rem;
    }
}

/*Footer*/

.footer-main-page {
    background-color: var(--text);
    padding-top : 20rem;
    color : var(--background);
    padding-left : 4rem;
    font-size : 1.6rem;
}

.footer-main-page .container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 13rem;
}

.picto{
    padding-top : 0.4rem;
}

.huddle-contact {
    display: grid;
    grid-template-columns: 2.4rem 33.9rem;
    gap: 3rem 1.6rem;
    width : auto;
}

.huddle-logo-footer {
    grid-column: 1 / -1;
}

.text-contact {
    display:flex;
}

.p-contact {
    font-size : 1.6rem;
    text-decoration: none;
    color: var(--background);
}

.list-footer ul{
    display:grid;
    list-style: none;
    list-style-type: none;
    grid-template-columns: auto auto;
    padding-top: 5rem;
    row-gap: 2rem;
}

.social-media ul{
    display: flex;
    max-width: 18rem;
    min-width : 13rem;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 5rem;
    padding-inline-start: 0px;
}

.picto-sm {
    padding : 1rem;
    border : 1px solid white;
    border-radius: 50%;
}

.picto-sm img {
    height: 1.5rem;
    width: 1.5rem;
}

.copyright {
    text-align: right;
    font-size : 1.2rem;
    padding-right : 5rem;
    padding-bottom: 6rem;
}


@media screen and (max-width:1200px){
    .footer-main-page .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content : start;
    }

    .footer-main-page {
        padding-top : 9rem;
        padding-left : 0px;
        padding-right : 1rem;
    }
    .list-footer ul{
        grid-template-columns: 1fr;
        padding-inline-start: 0px;

    }

    .huddle-contact {
        grid-template-columns: auto 1fr;
    }

    .social-media ul{
        margin-left : auto;
        margin-right : auto;
    }

    .social-media li{
        margin-left : 1rem;
        margin-right : 1rem;
    }

    .copyright{
        text-align : center;
        padding : 2rem 0rem;
    }
} 